body {
    font-family: Arial;
}

#line {
    stroke-width: 10;
}

.blue {
    stroke: rgb(0, 0, 255);
}

.red {
    stroke: rgb(255, 0, 0);
}

.orange {
    fill: rgb(255, 115, 0);
}

#acknowledgements {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}